<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd-MM-yy HH:mm:ss} [%-5p] [%t] %c{1}:%L - %m%n"/>
        </Console>
        <File name="LogFile" fileName="src/name/allayarovmarsel/app/resources/logs/logInfo.log">
            <PatternLayout pattern="%d{dd-MM-yy HH:mm:ss} [%-5p] [%t] %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="LogFile"/>
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
